.project {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 10px;
}

.project-info:nth-child(odd) {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.project-image:nth-child(even) {
  position: relative;
  grid-area: 1 / 6 / -1 / -1;
}

.project-info {
  display: block;
  z-index: 20;
}

.project-image {
  mix-blend-mode: multiply;
}

.project-image > a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 10;
}

.project-image > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  transition: var(--transition);
  background-color: var(--text-highlight);
  /* mix-blend-mode: screen; */
}

.img {
 width: 100%;
 object-fit: cover;
 border: 1px solid var(--text-highlight);
 border-radius: 10px;
 vertical-align: middle;
}