.about-title {
  font-size: clamp(30px, 8vw, 60px);
  font-family: 'SourceCodePro';
  color: var(--text-main);
  width: 100%;
  text-align: right;
  margin-bottom: 35px;
}

.intro {
  font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
  color: var(--text-muted);
  font-family: 'SourceCodePro';
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text {
  padding: 20px;
  width: 55%;
}

.highlight {
  color: var(--text-highlight);
}

.text > p {
  margin-bottom: 15px;
  color: var(--text-muted);
}

.tech-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0 10px;
}

.tech-item {
  /* list-style-type: '// '; */
  color: var(--text-muted);
  font-size: var(--fz-sm);
  font-family: 'SourceCodePro';
}

.image-container {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  margin: auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
  object-position: top;
  z-index: 20;

  filter: grayscale(100%);
  scale: 1.3;
  transition: ease-in-out 200ms;
}

.image:hover {
  filter: grayscale(0%);
  scale: 1;
  object-position: top;
}