.about {
  align-items: flex-end;
}

.about-title {
  font-size: clamp(40px, 8vw, 80px);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--text-main);
}

.intro {
  font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
  color: var(--text-muted);
  font-family: 'SourceCodePro';
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.image-container {
  aspect-ratio: 1 / 1;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
  z-index: 20;
}