.App {
  background-color: var(--bg-color);
  color: var(--text-main);
  min-height: 100vh;
}

#light {
  --bg-color: #fffaff;
  --text-main: #000;
}

#dark {
  --bg-color: #000;
  --text-main: #fffaff;
}