.App {
  color: var(--text-main);
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #1b1b1e;
  --bg-opacity:#1b1b1ed9;
  --text-main: #D8DBE2;
  --text-muted: #779CAB;
  --text-highlight: #69C8D6;
  --fz-sm: 14px;
  --fz-md: 16px;
}

.main-pages {
  min-height: 100vh;
  padding: 0px 150px;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}